/* Add CSS Styling */

.odd {
    background-color: hsl(350, 100%, 88%);
    font-family: Verdana, 'DejaVu Sans', sans-serif;

}

#two {
    color: #00f;
    font-size: 36px;
}

#three,
#four   {
    font-size: 24px;
}

#four {
    background-color: rgb(144, 238, 144);
    font-weight: bold;
}